* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  max-width: 1366px;
  width: 100vw;
  max-height: 700px;
  height: 100vh;
  background-image: url(../img/upmenu.png);
  background-repeat: no-repeat;
}
.nav--h {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 66px;
  font-weight: 400;
}
p,
div,
del {
  font-family: "Golos Text", sans-serif;
}
.header--nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 542px;
  max-height: 444px;
  margin-left: 72px;
  margin-top: 62px;
  height: 100%;
}
.logo {
  margin-left: 72px;
  margin-top: 26px;
}
.nav--p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: center;
}
.nav--button {
  display: flex;
  justify-content: space-between;
}

.black,
.white {
  height: 72px;
  width: 263px;
  border-radius: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  padding-left: 49px;
  padding-right: 49px;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  transition: 0.2s;
}
.black {
  color: white;
  background-color: black;
}
.black:hover {
  border: 2px solid #fbce51;
  background-color: #fbce51;
  color: black;
}
.white:hover {
  background-color: black;
  color: white;
}
.runmenu {
  font-family: "Merriweather", serif;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  width: max-content;
  max-height: 60px;
}
main {
  max-width: 1366px;
  width: 100vw;
  overflow: hidden;
}

li {
  list-style: none;
  animation: run 13s linear infinite;
}
li::before {
  content: "•";
  margin: 12px;
  height: 6px;
  width: 6px;
}

@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.text-red {
  font-family: "Merriweather", serif;
  color: #f54932;
  font-size: 36px;
  font-weight: 700;
  line-height: 48.6px;
  text-transform: uppercase;
}
.text-black {
  font-family: "Merriweather", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48.6px;
  text-transform: uppercase;
}
.page__up {
  display: flex;
  max-width: 1222px;
  max-height: 250px;
  margin-top: 80px;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.page {
  margin-right: 72px;
  margin-left: 72px;
}
.page__donate {
  display: flex;
  margin-top: 47px;
  gap: 17px;
}
.donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 48px;
}
.left {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.right {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
del {
  text-decoration: line-through red;
}
.test {
  height: 56px;
  display: flex;
  align-items: center;
}

.test1,
.test3,
.test5,
.test7 {
  border: 2px solid #d0d0d0;
  border-left: none;
  border-top: none;
}
.test9 {
  border-right: 2px solid #d0d0d0;
}
.test2,
.test4,
.test6,
.test8 {
  border-bottom: 2px solid #d0d0d0;
  padding: 16px;
}
.test0 {
  padding: 16px;
}
.blue {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #3057a2;
}
.page__up2 {
  font-family: "Merriweather", serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
  text-align: left;
  text-transform: uppercase;
}
.page2--contane {
  margin-top: 165px;
  max-width: 806px;
  max-height: 130px;
}
.blue2 {
  text-transform: none;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  position: absolute;
  width: 280px;
  margin-top: 7px;
  margin-left: 17px;
}
.grid2 {
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Golos Text", sans-serif;
  margin-top: 74px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  height: 400px;
}
.flex {
  display: flex;
  gap: 16px;
  padding: 20px;
}
.flex3 {
  grid-row: 1/3;
  grid-column: 3;
}
.flex7 {
  grid-row: 3;
  grid-column: 2/4;
  max-height: 136px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.fly {
  height: 50px;
  width: 50px;
  position: relative;
  top: -115px;
  left: -70px;
}
.slider_up {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}
.arrow {
  background-color: #313131;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  transition: 0.2s;
}
.scrol {
  display: flex;
  align-items: center;
  gap: 14px;
}
.arrow:hover {
  background-color: #fbce51;
}
.slider {
  display: flex;
  margin: 60px 0 140px 0;
  align-items: center;
  gap: 131px;
  position: relative;
  transition: 0.5s;
}
.slide-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items-h {
  margin-top: 28px;
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
}
.items-p {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.items-button {
  width: 113px;
  height: 35px;
  border: 1px solid #3057a2;
  color: #3057a2;
  border-radius: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  transition: 0.2s;
}
.items-button:hover {
  color: white;
  background-color: #3057a2;
}
.footer {
  background-color: #e9ded4;
  height: 210px;
}
.footer-text {
  margin: 40px 72px 72px 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.arrow:active ~ .footer-text {
  color: #3057a2;
}
.gray {
  background-color: #d6d6d6;
}
.grid2--none {
  display: none;
}
.croll {
  display: none;
  transition: 0.3s;
}
.crol--none {
  display: none;
}
.fly--none {
  display: none;
}
@media (max-width: 450px) {
  .header {
    width: 100vw;
    min-height: 774px;
    padding: 18px;
    background-image: url(../img/upmenu2.png);
    background-size: cover;
  }
  .logo {
    margin: 0;
  }
  .header--nav {
    margin: 0px;
    margin-top: 40px;
  }
  .nav--button {
    flex-direction: column;
    gap: 14px;
    align-items: normal;
    justify-content: center;
  }
  .black {
    padding: 18px;
    width: auto;
  }
  .white {
    padding: 18px;
    background: rgba(255, 255, 255, 1);
    border: none;
    opacity: 90%;
    width: auto;
  }
  .runmenu {
    height: 38px;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    text-align: right;
    padding: 10px 0;
  }
  .nav--h {
    font-size: 36px;
    font-weight: 400;
    line-height: 39.6px;
    text-align: center;
  }
  .nav--p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
  }
  #donate {
    gap: 24px;
    margin-top: 48px;
    max-height: fit-content;
    flex-direction: column;
  }
  .page {
    margin: 0;
    padding: 0 20px;
  }
  .page__donate {
    flex-direction: column;
  }
  .text-black {
    font-size: 28px;
    font-weight: 400;
    line-height: 37.8px;
    text-align: left;
  }
  .text-red {
    font-size: 28px;
    font-weight: 700;
    line-height: 37.8px;
    text-align: left;
  }
  .test2,
  .test4,
  .test6,
  .test8,
  .test0 {
    padding: 0;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .test1,
  .test3,
  .test5,
  .test7 {
    border: none;
    border-left: none;
    border-top: none;
  }
  .page__up2 {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 400;
    line-height: 39.6px;
    text-align: left;
  }
  .blue2 {
    position: static;
    width: auto;
    margin: 0;
    margin-bottom: 148px;
  }
  .page2--contane {
    max-height: fit-content;
  }
  .grid2 {
    display: none;
  }
  .grid2--none {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    transition: 0.3s;
  }
  .grid2__contane {
    width: 335px;
    height: 300px;
    padding: 63px 20px 0 20px;
  }
  .grid2__text {
    display: flex;
    margin-bottom: 28px;
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
  }
  .croll {
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    transition: 0.3s;
  }
  .dot {
    height: 10px;
    width: 10px;
    background: rgba(217, 217, 217, 1);
    border-radius: 5px;
  }
  .gray--none {
    background-color: rgba(49, 49, 49, 0.2);
  }
  .dot--black {
    background-color: #313131;
  }
  #sum::content {
    content: "1";
  }
  .scrol {
    display: none;
  }
  .crol--none {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    margin-bottom: 40px;
    margin-left: 10px;
  }
  .footer {
    height: 252px;
  }
  .footer-text {
    margin: 60px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: rgba(49, 49, 49, 1);
  }
  .fly--none {
    display: block;
    position: relative;
    left: -20px;
    z-index: 3;
  }
}
